<p>
  <%= f.label :visibility, t("ext_visibility.visibility") %><br />
  <%= f.text_field :visibility, :size => 4 %>
</p>
<p>
  <%= f.label :old_price, t("ext_old_price.old_price") %><br />
  <%= f.text_field :old_price, :size => 4 %>
</p>

