body {
	/*background-image: url('/images/red-waves-background2.jpg');
	background-repeat: no-repeat;*/
	/*background: #737277; grin original*/
/*	background: #D3D1D2; gir claro carretera */
/*	background: #9DB6CC; */
	background: url('/images/background_patterns/background_bestiaz.jpg') repeat-x;
}


#marcas{
background: url('/images/footer/marcas.jpg');
}

#header a { color: #FFFFFF; }
#header a:hover { color: #000000; }

#welcome{
height:280px;
}

#present{
  border-right:#ccc solid 1px;
  font-size: 1.0em;
	width: 950px;
	height:120px;
  background:#eee;
  padding:4px;
  float:left;
  -moz-box-shadow: 5px 5px 10px #888888; /* Firefox 3.6 and earlier */
  -webkit-box-shadow: 5px 5px 10px #888888; /* Safari */
  box-shadow: 5px 5px 10px #888888;
}

#links_secciones{
  font-weight:bold;
	font-size:2.0em;
}
#links_secciones a{
	text-decoration:none;
	font-weight:bold;
	color:black;
  border-right:4px solid white;
  border-left:4px solid white;

}

#links_secciones a:hover{
	background:#9de039;
	color:white;
	border-right:4px solid black;
	border-left:4px solid black;
}

#present-buttons{
  margin-right:15px;
  height:275px;
  float:left;
	/*background:#b3ef7d;*/
	background:#e0e27f;
	-moz-box-shadow: 5px 5px 10px #888888; /* Firefox 3.6 and earlier */
  -webkit-box-shadow: 5px 5px 10px #888888; /* Safari */
  box-shadow: 5px 5px 10px #888888;

}

#present-slider{
  background:#414141;
  float:right;
	width:400px;
	height:275px;
  -moz-box-shadow: 5px 5px 10px #888888; /* Firefox 3.6 and earlier */
  -webkit-box-shadow: 5px 5px 10px #888888; /* Safari */
  box-shadow: 5px 5px 10px #888888;
}

.reset {
   clear: both;
}

div#top-bar {
     height: 30px;
}

ul#language-bar {
   float: left;
   font-size: 0.9em;
   line-height: 30px;
}

ul#footer-bar li {
   margin-right: 15px;
   display: inline;
}

ul#nav-bar {
   float: right;
   clear: both;
   font-size: 1.5em;
   line-height: 40px;
   text-align:left;
   color=black;
	 
/*
   border-style:solid;
   border-bottom:5px solid #CECECE;
*/
}

#keywords {
   background-color:#FFF;
   color:#B0AA9A;
   height:16px;
   padding-left:20px;
   padding-top:2px;
   padding-right:5px;
   width:240px;
   margin-top:1px;
   background-image:url('../images/search.png');
   background-repeat:no-repeat;
}

div#logo-bar {
   float: left;
}

div#search-bar {
   float: right;
   padding-top:20px;
}

.bes-align-right { float:right; margin: 0 0 15px 15px; }
.bes-align-left { float:left; margin: 0 15px 15px 0; }
.bes-frame { padding: 5px; border: 1px solid #aaa; }
