<h1><strong>Bdev</strong>, la plataforma para tu negocio online </h1>
<p>
A finales de 2010 los hermanos Izquierdo Carrasco fundan <em>Bdev</em>, el equipo de desarrolllo web  perteneciente a Bestiaz Retailer SL. Una compañía que nace con el firme propósito de acometer una profunda revisión y mejora de la experiencia del usuario en el uso de las  plataformas de comercio electrónico.
</p>

<p>
En BDev apostamos por crear webs modernas y competitivas en el ámbito del comercio electrónico. Nuestra  prioridad es ofrecer un servicio ágil y atractivo al cliente.  Si quieres ponerte en contacto con nuestro equipo de desarrollo, no lo dudes y escríbenos a <strong>bdev@bestiaz.com</strong>
</p>

<h4><strong>Proyectos</strong></h4>
<p>
Su primer proyecto, <%= link_to "bestiaz.com", root_path%>, aborda un caso real sobre la comercialización de  productos técnicos a deportistas de todos los niveles, tanto principiantes como expertos.  Esta primera web utiliza la tecnología base que será utilizada por Bdev para comercializar futuras soluciones informáticas en el sector del comercio electrónico.
</p>

<h4><strong>Filosofía</strong></h4>
<p>
Desarrollamos nuestras soluciones con Ruby on Rails. En nuestra metodología de trabajo apostamos con orgullo por el paradigma llamado <em>desarrollo ágil</em> y nos mantenemos al día de las últimas novedades en el sector.
</p>

<h4><strong>El Equipo</strong></h4>
<p>
Un elemento diferenciador de Bdev es la profesionalidad de sus integrantes. Sólida formación técnica y de gestión se aúnan con relevante experiencia profesional en la búsqueda de una excelencia total en el servicio. Sus integrantes quieren dar, de forma concisa y ágil, un nuevo enfoque a la venta online. 
</p>

<p>
<strong>Alfonso Izquierdo</strong>, desarrollador web.  
</p>
<p>
<div id="incontent">
  <ul>
    <li>
       Empresario de dia, ruby ninja de noche. Alfonso es el fundador de www.bestiaz.com y un apasionado de Ruby on Rails, que ha estudiado de manera autodidacta compaginando sus estudios de Ingeniería Técnica Informática de Gestión por la Universidad de Valladolid. Después de hacer prácticas de empresa en Bélgica se decide a fundar la suya propia, que decide comenzar en consonancia con su pasión por el deporte (Proyecto Bestiaz).
    </li>
    <li>
      En Bdev se encarga del desarrollo web y la gestión de proyectos.
    </li>
  </ul>
</div>
</p>

<p>
<strong>Luis Recio</strong>, diseñador web.  
</p>
<div id="incontent">
  <ul>
    <li>
    Tras terminar el módulo FP de Aplicaciones informáticas, trabajó durante 6 meses como desarrollador web, donde empezó a sentirse atraido por el diseño y la programación web. Después decidió dar un salto en su formación, y cursó Ingeniería Informática por la Universidad de Valladolid, ejerciendo además labores de representación estudiantil a varios niveles.
    </li>
    <li>
    Interesado en lenguajes y frameworks de alto nivel orientados a la web y en el campo de la Ingeniería del Software. Además, es un seguidor de las últimas tecnologías en materia web, formándose y actualizando sus conocimientos día a día con las últimas tendencias.
    </li>
    <li>
    En Bdev asume las tareas de diseño web y mejora  experiencia de usuario (UX). 
    </li>
  </ul>
</div>
