<h1>Bdev, empresa de desarrollo </h1>
<p>
A finales de 2010 los hermanos Izquierdo Carrasco fundan <strong>Bdev</strong>, inicialmente grupo de desarrollo web de Bestiaz Retailer SL. Una compañía que nace con el firme propósito de acometer una profunda revisión y mejora de las plataformas de comercio electrónico entonces existentes. 
</p>

<p>
TODO: Presenstacion de la metodologia , platformas (spree, rails)
Bdev es un proyecto basado en la metodología ágil. Nuestras soluciones ....
</p>

<p>
TODO: Presentacion de proyectos hechos: alejandroizquierdo.com, bestiaz.com
</p>

<p>
TODO: Presentacion del equipo: alfonso, Luis
</p>

<!-- Texto original para el STC

Su primer proyecto, www.bestiaz.com, aborda un caso real sobre la comercialización de  productos técnicos a deportistas de todos los niveles, tanto principiantes como expertos. Para los primeros, se ofrece  una selección en la que prima una elevada relación calidad-precio. Para los segundos, lo mejor del mercado. Una primera web real creada por atletas y para atletas. Tanto para los iniciados y como para los más avezados. Con un denominador común, la pasión por el deporte. Todas las evoluciones desarrolladas e implementadas en este primer proyecto demo serán el germen para todas aquellas futuras soluciones informáticas que Bdev aspira a comercializar en el medio-largo plazo.

Lo cierto es que, hoy en día, la tendencia generalizada del uso de Internet favorece proyectos virtuales relacionados con el comercio, allí donde el cliente obtiene un importante valor añadido frente a las tiendas convencionales: un servicio de venta 24 horas al día todos los días del año. Eliminados los desplazamientos a las tiendas físicas es posible repercutir el ahorro de tiempo y coste al cliente. En BDev apostamos por crear webs modernas y competitivas donde ofrecer un servicio ágil y óptimo al cliente.

Un elemento diferenciador de Bdev es la profesionalidad de sus integrantes. Sólida formación técnica y de gestión se aúnan con relevante experiencia profesional en la búsqueda de una excelencia total en el servicio. Sus integrantes quieren dar, de forma concisa y ágil, un nuevo enfoque a la venta online.
-->
