<h1>
  <strong>Bdev</strong>, the platform for your on-line business
</h1>
<p>
<em>Bdev</em>, founded by the Izquierdo Carrasco brothers, is the development team behind <em>Bestiaz Retailer SL.</em> A company born with a goal in mind: the improvement of the user experience in the use of e-commerce platforms.
</p>

<p>
Bdev focuses in the development of modern web solutions in the realm of e-commerce. Our priority is to offer a high-class service to our clients. If you wish to contact out development team, please do not hesitate in doing so and drop us an email at <strong>bdev@bestiaz.com  </strong>
</p>

<h4><strong>
    Projects
</strong></h4>
<p>
<%= link_to "bestiaz.com", root_path%> is the first project conducted by <em>Bdev</em>. It addresses a real use case about the commercialization of technical sports products. This web uses the core technology that will be applied by Bdev in future web applications related to the e-commerce sector.
</p>

<h4><strong>
Philosophy
</strong></h4>
<p>
Ruby on Rails is the technology that we use to develop our web products. Our work methodology proudly follows the agile development paradigm.  Furthermore, we carefully keep up-to-date with the newest developments in the sector. 
</p>

<h4><strong>
The Team
</strong></h4>
<p>
Within our team, a solid technical background meets relevant professional experience in project management. Our team members are obsessed with the idea of turning on-line shopping into to a new user experience.
</p>
<p>
<strong>Alfonso Izquierdo</strong>, Project manager.  
</p>
<p>
<div id="incontent">
  <ul>
    <li>
Business man during the daylight, Ruby ninja at night. Alfonso is the founder of www.bestiaz.com and a passionate Ruby on Rails programmer. He gathered experience with the Ruby on Rails framework while coursing his Informatics studies at University of Valladolid, Spain. After finishing his internship in Belgium, he decides to start up his own on-line store following his passion for sport (Bestiaz project).  
    </li>
    <li>
At Bdev, he is responsible for web development and project management.
    </li>
  </ul>
</div>
</p>

<p>
<strong>Luis Recio</strong>, web designer.  
</p>
<div id="incontent">
  <ul>
    <li>
Luis had been working as a web developer before starting his studies at University of Valladolid , where he both studied software engineering and acted as a represenatative in several student organizations. His experienced eye turns him into “the guy to ask” whenever something seems too hard to solve.
    </li>
    <li>
Luis is interested web design and in high-level frameworks, both for web development and software engineering. 
Furthermore, he follows the last trends on web technologies. In particular, at Bdev he is responsible for web design and improving user experience (US). 
    </li>
  </ul>
</div>
