<h1>Quiénes Somos</h1>
<p class="justified">
<strong>Bestiaz</strong> nace en 2011 con el objetivo de ofrecer productos técnicos a deportistas de todos los niveles, tanto principiantes como expertos. Para los primeros, ofrecemos una selección en la que prima una elevada relación calidad-precio. Para los segundos ponemos a su disposición lo mejor del mercado.
<strong>Bestiaz</strong> es una empresa creada por atletas y para atletas. Tanto para los iniciados y como para los más avezados. Con un denominador común, la pasión por el deporte.
</p>

<p class="justified">
Hoy en día, la tendencia generalizada del uso de Internet hace posible proyectos como éste, donde el cliente obtiene un importante valor añadido frente a las tiendas convencionales: un servicio de venta 24 horas al día todos los días del año. Eliminamos los desplazamientos a las tiendas físicas y, por ende, repercutimos el ahorro de tiempo y coste al cliente. En <strong>Bestiaz</strong> apostamos por crear una web moderna y competitiva donde ofrecer un  servicio ágil y óptimo al cliente.
</p>

<p class="justified">
Un elemento diferenciador de <strong>Bestiaz</strong> es la profesionalidad de sus integrantes. Sólida formación técnica y de gestión se aúnan con relevante experiencia profesional en la búsqueda de una excelencia total en el servicio. Sus integrantes quieren dar, de forma concisa y ágil, un nuevo enfoque a la venta y distribución en España.
</p>

<p class="justified">
<strong>
“Lo que busques, te lo proporcionamos…al mejor precio y en el menor tiempo” 
</strong>, este es nuestro lema.
<br/>
<br/>
</p>
<p>
<%= image_tag "who_we_are/alfcorre2.jpg", :class => "bes-align-left bes-frame"  %> 
<h3>
Alfonso Izquierdo. 
</h3>
</p>
<p class="justified">
Tras terminar sus estudios en Bélgica decide constituir Bestiaz, una aventura que emprende y lidera desde principios de 2011.
</p>

<p class="justified">
Corredor habitual y en activo, obtuvo en su época Junior resultados destacados. Además, está iniciandose en el mundo del triatlón, y siempre que puede acompaña a otros atletas bestiaz en sus aventuras. Su distancia preferida es la Media Maratón y la Maratón.
</p>
<br/>
<br/>

<p>
<%= image_tag "who_we_are/facefer.jpg", :class => "bes-align-right bes-frame"  %> 
</p>
<h3 style="margin:0px 120px 20px 70px;">Fernando Izquierdo.</h3>
<p class="justified">
Afincado en reside en Alemania desde 2005 donde ha trabajado en numerosas cuidades como Munich, Hamburgo y Berlin. 
Habitual en pruebas de fondo de atletismo y triatlón, actualmente reside en Heidelberg, donde entrena con el club SV Nikar Triathlon.
</p>

<p class="justified">
Le podrás ver en Alemania haciendo triatlón en distancia Olímpica, aunque ya ha finalizado un Half IM, con vistas al IM Frankfurt en 2012.
</p>
<br/>
<br/>

<p>
<%= image_tag "who_we_are/alexbici2.jpg", :class => "bes-align-left bes-frame"  %> 
<h3>Alejandro Izquierdo.</h3>
</p>
<p class="justified">
Entusiasta del deporte, lleva ya más de 15 años pracicando regularmente atletismo, ciclismo y alpinismo. Sin una distancia o prueba preferida en particular, su pasión son las pruebas ultra donde probar los límites del cuerpo humano.
</p>

<p class="justified">
Puedes seguir sus aventuras, retos y entrenamientos en su web personal www.alejandroizquierdo.com 
</p>
