<%= stylesheet_link_tag "staticpage" %>

<h1>Nuestros colaboradores</h1>

<h2><strong> Trimadrid </strong></h2>
<table border="0" summary="Trimadrid" style="margin: 30px 300px 20px 70px;"> <td>
	<%=image_tag "our_partners/trimadrid.jpg", :class => "bes-frame" %>
 </td>
 <td>
<p style="margin: 30px 200px 20px 70px;">
   Portal de noticias de triatlón con su nuevo club de triatlón Trimad <%= link_to "http://www.trimadrid.com", "http://www.trimadrid.com" %>  
<p>
</td>
</tr>
</table>
</p>
