<hr>
<div id="welcome">
  <%= render "shared/welcome" %>
</div>
<hr>
<div id="present-slider">
  <%= render "shared/slider" %>
</div>
</div>

<!-- <div id="mas_solicitados">Lo mas pedido: échale un vistazo a los productos mas vendidos en nuestra tienda de triatlon </div> -->
