<hr>
<%= render "shared/welcome" %>
<hr>
<% # taxon is a helper from ApplicationHelper, note this depends on how we call the taxon (nav menu)  %>  
<% [ "Atletismo", "Varios", "Nutrición", "Ciclismo", "Natación"] %>
<%= link_to ((image_tag 'homelinks/Natacion.png'), seo_url(taxon("Natación"))) %></br></br>
<%= link_to ((image_tag 'homelinks/Ciclismo.png'), seo_url(taxon("Ciclismo"))) %></br></br>
<%= link_to ((image_tag 'homelinks/Atletismo.png'), seo_url(taxon("Atletismo"))) %></br></br>
<br/>
<br/>
<div id="mas_solicitados">Lo mas pedido: échale un vistazo a los productos mas vendidos en nuestra tienda de triatlon </div>
