<!-- botones de navegación en productos -->
<!--<div id="links_secciones"> -->
  <ul id="sddm">
    <% %w(Atletismo Ciclismo Natación Nutrición).each_with_index do |name, i| %> 
      <li>
        <!-- is this obtrusive? -->
        <%= link_to(name, seo_url(taxon(name)),:onmouseover => "mopen('m#{i}')", :onmouseout => "mclosetime()" ) %> 
        <div id=<%="m#{i}"%> onmouseover="mcancelclosetime()" onmouseout="mclosetime()"> 
          <% subcategories = subcategories_of(name) %> 
          <% unless subcategories.empty? %> 
            <% subcategories.each do |subcategory| %> 
              <%= link_to(subcategory.name, seo_url(subcategory)) %> 
            <% end %> 
          <% end %> 
        </div>
      </li>
    <% end %> 
  </ul>
  <ul id="sddm_ofertas">
      <li>
        <% name = "Ofertas" %> 
        <%= link_to(name, seo_url(Taxon.find_by_name name)) %> 
      </li>
  </ul>
<!--</div> -->

