<% # taxon is a helper from ApplicationHelper, note this depends on how we call the taxon (nav menu)  %>
<% [ "Atletismo", "Varios", "Nutrición", "Ciclismo", "Natación"] %>

 <table border="1px" height="260px">
 <tr><td><h2>¿Qué necesitas?</h2></td></tr>
 <tr><td>
 </td></tr></table>
