<form accept-charset="UTF-8" action="/products" method="get">
<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div> 
  <select id="taxon" name="taxon"><option value="">Todo Bestiaz</option> 
<option value="1">Productos</option> 
<option value="3">Marcas</option></select> 
  <input id="keywords" name="keywords" type="text" /> 
  <input type="submit" value="Buscar" /> 
</form> 
