 <!--define here the files that should be included in the slider -->

 <div class="slider-wrapper theme-default">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
        <%= image_tag "nivo-slider/envio_gratis.jpg" %> 
        <%= link_to(image_tag("nivo-slider/e_pulsor.jpg"), brand_url("Camaro")) %>
    </div>
    <div id="htmlcaption" class="nivo-html-caption">
      <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
    </div>
  </div>
