<% if not content_for?(:sidebar) %>
<div id="present">
  <h2>Bienvenido!</h2>
  <h6>
    bestiaz.com, la <strong> tienda de triatlón online </strong>, por y para atletas. Material, nutrición, todo para hacerte el triatlón más facil. Si crees que falta algo en la web o tienes alguna duda, mándanos un email a info@bestiaz.com o déjanos un comentario en nuestro <%= link_to "blog" , "http://bestiaz.wordpress.com/" %>.
  </h6>
  <br />
  <h3>¡Envío Gratis para pedidos superiores a 120€!<br/><%= render 'shared/search' %></h3>
</div>
<div id="present-right">
  <%= render 'shared/navibuttons' %>
</div>
<% end %>
